body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: norm;
  color: #434455;
  background-color: #ffffff;
}

/* удаление дефолтно-браузерных-------------------------------------*/

h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  list-style-type: none; /*подчёркивание ссылок*/
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer; /*при наведении стрелка в руку*/
}
img {
  display: block;
  max-width: 100%;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ЛОГО, менюшка и контакты-------------------------------------------*/

.hero {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.hero .container {
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo .logo-black {
  color: #2e2f42;
}
.menu {
  display: flex;
  gap: 40px;
  margin-right: 332px;
}
.menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*дополнительный класс для стилизации через псевдоэлемент------------*/
.studio::after {
  content: "";
  width: 100%; /*ширина по родительскому елементу*/
  position: absolute; /*позиция относительно родительского элемента*/
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.studio {
  color: #404bbf;
}
.menu .menu-link:hover,
.menu .menu-link:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
}
.contacts-menu {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}
.contacts-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts .contacts-link:hover {
  color: #404bbf;
}
.contacts .contacts-link:focus {
  color: #404bbf;
}

/* ШАПКА, Н1, КНОПКА------------------------------------------------*/

.cont_a {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero.jpg); /*затемнение изображения*/
  background-size: cover; /*коррекция размещения изображения*/
  background-position: center; /*корректировка относительно рамки элемента*/
  background-repeat: no-repeat;
  max-width: 1440px;
  padding: 188px 0;
}
.page-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: white;
  max-width: 496px;
  margin: 0 auto;
}
.button {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: white;
  cursor: pointer;
  margin-top: 48px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 48px;
}
.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}

/* ФАКТОРЫ/CONTAINER b -------------------------------------------*/

.cont_b {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.factors {
  display: flex;
  gap: 24px;
}
.factors .fact {
  width: calc((100% - 72px) / 4);
}
.fact-icon {
  display: flex;
  align-items: center; /*выравнивание по вертикали*/
  justify-content: center; /*выравнивание по горизонтали*/
  height: 112px;
  background-color: #f4f4fd; /*цвет фона блока*/
  border-radius: 4px; /*радиус закругления краёв*/
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}
.cont_b .title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.cont_b .text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ПЕРСОНАЛ/ CONTAINER C ----------------------------------------*/

.cont_c {
  background-color: #f4f4fd;
  height: 732px;
  padding: 120px 0;
}
.team {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.cool {
  display: flex;
  gap: 24px;
}
.cool .dream {
  width: calc((100% - 72px) / 4);
}
.dream {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.spec {
  padding: 32px 0;
}
.cont_c .title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.cont_c .text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}
.social-links {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
}
.social-links .social-link {
  display: flex; /*для дальнейшей смены размещения дочернего элемента*/
  flex-direction: row;
  align-items: center; /*для выравнивия иконок по вертикали*/
  justify-content: center; /*для выравнивия иконок по горизонтали*/
  width: 100%; /*100% ширина родительского контейнера*/
  height: 100%; /*100% высота родительского контейнера*/
  background-color: #4d5ae5; /*css замена фона элемента*/
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover {
  background-color: #404bbf; /*смена цвета при наведении*/
}
.social-link:focus {
  background-color: #404bbf; /*смена цвета при клике*/
}
.social-icon {
  fill: #f4f4fd;
}

/* ПОРТФОЛИО/ CONTAINER d-----------------------------------------*/

.cont_d {
  padding: 120px 0;
}
.kinds {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.kind {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.kind:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portf {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.img-portfolio {
  position: relative;
  overflow: hidden;
}
.img-portfolio-text {
  position: absolute;
  top: 0;
  line-height: 1.5; /*расстояние между строками*/
  letter-spacing: 0.02em; /*расстояние между буквами*/
  color: #f4f4fd;
  padding: 40px 32px; /*расстояние между содержимым и рамкой элемента*/
  background-color: #4d5ae5;
  height: 100%;
  transform: translateY(100%); /*смена позиции элемента по оси Y*/
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); /*анимация*/
}
.img-portfolio p {
  transform: translateY(0%);
}
.transfer {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 360px;
  height: 120px;
}
.portf-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portf-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ПОДВАЛ----------------------------------------------------------*/

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.logo .logo-white {
  color: #f4f4fd;
}
.logo.foot {
  display: inline-block;
  margin-bottom: 16px;
}
