*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

/* удаление дефолтно-браузерных-------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style-type: none; /*подчёркивание ссылок*/
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer; /*при наведении стрелка в руку*/
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  font-style: normal;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/*=============HEADER- logo\menu\contacts===============*/

.hero {
  color: #2e2f42;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  margin-right: 76px;
  display: inline-block;
}
.logo-black {
  color: #2e2f42;
}
.menu {
  display: flex;
  gap: 40px;
  font-weight: 500;
}
.menu-link {
  display: block;
  color: #2e2f42;
  text-decoration: none;
  padding: 24px 0;
}
.menu-link.studio {
  color: #404bbf;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*дополнительный класс для стилизации через псевдоэлемент------------*/
.menu-link.studio::after {
  content: "";
  width: 100%; /*ширина по родительскому елементу*/
  position: absolute; /*позиция относительно родительского элемента*/
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  display: block;
}
.studio {
  color: #404bbf;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.contacts-menu {
  display: flex;
  gap: 40px;
}
.contacts-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.adress-link {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/*========CONT_A- h1\button==========*/

.cont_a {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero.jpg); /*затемнение изображения*/
  background-size: cover; /*коррекция размещения изображения*/
  background-position: center; /*корректировка относительно рамки элемента*/
  background-repeat: no-repeat;
  max-width: 1440px;
  padding: 188px 0;
  margin-left: auto;
  margin-right: auto;
}
.page-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: white;
  max-width: 496px;
  margin: 0 auto;
}
.button {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: white;
  cursor: pointer;
  margin-top: 48px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 48px;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* ФАКТОРЫ/CONTAINER b -------------------------------------------*/

.cont_b {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.factors {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.fact {
  flex-basis: calc((100% - 72px) / 4);
}
.fact-icon {
  display: flex;
  align-items: center; /*выравнивание по вертикали*/
  justify-content: center; /*выравнивание по горизонтали*/
  height: 112px;
  background-color: #f4f4fd; /*цвет фона блока*/
  border-radius: 4px; /*радиус закругления краёв*/
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}
.title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.cont_b .text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/*----------------------Our-team------------------------*/

.cont_c {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.section-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.cool {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}
.dream {
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.spec {
  padding: 32px 0;
}
.cont_c .title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.card-text {
  text-align: center;
  margin-bottom: 8px;
}
.social-links {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
}
.social-link {
  display: flex; /*для дальнейшей смены размещения дочернего элемента*/
  align-items: center; /*для выравнивия иконок по вертикали*/
  justify-content: center; /*для выравнивия иконок по горизонтали*/
  width: 100%; /*100% ширина родительского контейнера*/
  height: 100%; /*100% высота родительского контейнера*/
  background-color: #4d5ae5; /*css замена фона элемента*/
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover {
  background-color: #404bbf; /*смена цвета при наведении*/
}
.social-link:focus {
  background-color: #404bbf; /*смена цвета при клике*/
}
.social-icon {
  fill: #f4f4fd;
}

/*===========PORTFOLIO-CONTAINER d============*/

.cont_d {
  padding: 120px 0;
}
.kinds {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.kind {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.kind:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}
.img-portfolio {
  position: relative;
  overflow: hidden;
}
.img-portfolio-text {
  position: absolute;
  top: 0;
  line-height: 1.5; /*расстояние между строк*/
  letter-spacing: 0.02em; /*расстояние между буквами*/
  color: #f4f4fd;
  padding: 40px 32px; /*расстояние между содержимым и рамкой элемента*/
  background-color: #4d5ae5;
  height: 100%;
  transform: translateY(100%); /*смена позиции элемента по оси Y*/
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); /*анимация*/
}
.kind:hover .img-portfolio-text {
  transform: translateY(0%);
  /*смена позиции элемента по оси Y|навёл мышку на картинку и вместо неё выскакивает параграф*/
}
.transfer {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 360px;
  height: 120px;
}
.portf-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portf-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/*================FOOTER==================*/

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-text {
  color: #f4f4fd;
  max-width: 264px;
}
.logo-footer {
  color: #f4f4fd;
}
.magrin {
  margin-right: 0;
  margin-bottom: 16px;
}
.social-media-title {
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px;
}
.footer-flex-box {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.footer-margin {
  margin-right: 120px;
}
.footer-social-media {
  margin-right: 80px;
}
.icon-social-media {
  fill: #f4f4fd;
}
.social-media-list.footer-s-m-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
}
.social-link.footer-link:hover,
.social-link.footer-link:focus {
  background-color: #31d0aa;
}

.form-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-form {
  display: flex;
  gap: 24px;
}

.footer-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}
.footer-input::placeholder {
  color: #fff;
}
.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.icon-input {
  margin-left: 16px;
  fill: #fff;
}
/*====================modal-overlay=====================*/
.modal-overlay {
  display: none;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 72px 24px 24px 24px;
  margin-top: 9px;
  margin-bottom: 9px;
}

.close-black {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-black:hover,
.close-black:focus {
  background-color: #404bbf;
  border: none;
}
.icon-close-black {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-black:hover .icon-close-black,
.close-black:focus .icon-close-black {
  fill: #ffffff;
}

.title-modal {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-items {
  margin-bottom: 8px;
}

.label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.input-wrapper {
  position: relative;
}
.input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
  border-color: #4d5ae5;
}
.input:focus + .icon-modal {
  fill: #4d5ae5;
}

.icon-modal {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input + .icon-modal:hover {
  fill: #4d5ae5;
}

.comment {
  margin-bottom: 16px;
}
.textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea:focus {
  border-color: #4d5ae5;
}

.form-checkbox {
  margin-bottom: 24px;
}
.label-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.label-checkbox-icon {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .label-checkbox .label-checkbox-icon {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-policy {
  color: #4d5ae5;
}

/*=====@media Mobile START=====*/
@media screen and (max-width: 320px), (max-width: 767px) {
  .container {
    max-width: 288px;
    padding: 0;
    margin: 0 auto;
  }
  /*HEADER*/
  .hero {
    min-height: 56px;
    padding: 16px;
  }
  .nav {
    justify-content: space-between;
    position: relative;
  }
  .flex-box {
    display: block;
  }
  /*BURGER-MENU*/
  .burger-icon {
    display: block;
    cursor: pointer;
    fill: #2f2f37;
    position: absolute;
    top: 0;
    right: 0;
  }
  .menu {
    display: none;
  }
  .contacts {
    display: none;
  }
  /*CONT_A*/
  .cont_a {
    padding: 72px 52px;
    height: auto;
  }
  .page-title {
    font-size: 36px;
    line-height: 1.11;
  }
  /*CONT_B*/
  .fact-icon {
    display: none;
  }
  .factors {
    display: block;
  }
  .fact:not(:last-child) {
    margin-bottom: 72px;
  }
  .title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
  }
  .list-text {
    font-weight: 500;
  }
  /*Our-team*/
  .cont_b,
  .cont_c,
  .cont_d {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .cool {
    display: block;
    padding-left: 8px;
    padding-right: 8px;
  }
  .dream {
    width: 100%;
    max-width: 264px;
  }
  .dream:not(:last-child) {
    margin-bottom: 72px;
  }
  /*Portfolio*/
  .kind {
    width: 100%;
    overflow: hidden;
  }
  .kind:not(:last-child) {
    margin-bottom: 48px;
  }
  /*FOOTER*/
  .footer {
    padding: 96px 0;
  }
  .footer-flex-box {
    display: block;
  }
  .tablet-flex {
    margin-bottom: 72px;
  }
  .footer-form {
    display: block;
  }
  .footer-margin {
    margin: 0;
  }
  .logo.magrin {
    display: block;
    text-align: center;
  }
  .footer-text {
    margin-bottom: 72px;
  }
  .social-media-title {
    text-align: center;
  }
  .footer-social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  .form-title {
    text-align: center;
  }
  .footer-input {
    margin-bottom: 16px;
  }
  .footer-button {
    margin: 0 auto;
  }
  .footer-input {
    width: 100%;
  }
  /*MODAL*/
  .modal {
    width: 100%;
    max-width: 288px;
  }
  .contacts-list {
    flex-direction: column;
  }
  .title-modal {
    margin-bottom: 8px;
  }
  .label-checkbox {
    display: flex;
    gap: 8px;
  }
  /*MOB-MENU*/
  .mob-menu-overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link {
    padding: 0;
  }
  .mob-menu {
    padding: 72px 24px 40px 16px;
    margin: 0 auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;

    position: absolute;
    top: 0;
    right: 0;
    width: 320px;
    background-color: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
      0 2px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-links {
    margin-bottom: 40px;
  }
  .nav-menu {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #404bbf;
    padding-bottom: 84px;
  }
  .contacts-item {
    display: block;
    margin-bottom: 24px;
  }
  .mob-menu-social {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-bottom: 40px;
    padding-top: 24px;
  }
  .social-link:hover,
  .social-link:focus {
    background-color: #31d0aa;
  }
  .contacts-link {
    padding: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .nav-menu:hover,
  .nav-menu:focus {
    color: #404bbf;
  }
  .contacts-mob-menu:hover,
  .contacts-mob-menu:focus {
    color: #4d5ae5;
  }
  .contacts-mob-menu {
    padding-top: 84px;
    padding-bottom: 24px;
  }
  .close-black-menu {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .close-black-menu:hover,
  .close-black-menu:focus {
    background-color: #404bbf;
    border: none;
  }
  .close-black-menu:hover .modal-close,
  .close-black-menu:focus .modal-close {
    fill: #ffffff;
  }
}
/*===================== @media Tablet===================== */
@media screen and (min-width: 768px) and (max-width: 1158px) {
  .container {
    max-width: 736px;
    padding-left: 0;
    padding-right: 0;
  }
  .contacts-menu {
    display: block;
  }
  .nav {
    gap: 120px;
  }
  .logo {
    margin: 0;
  }
  .contacts-menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .menu-link.contacts-link {
    padding: 0;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
  }
  /*HERO*/
  .cont_a {
    padding: 112px 0;
  }
  .cont_b,
  .cont_c,
  .cont_d {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .fact {
    flex-basis: calc((100% - 24px) / 2);
  }
  .fact-icon {
    display: none;
  }
  .factors {
    column-gap: 24px;
    row-gap: 72px;
  }
  .list-text {
    max-width: 356px;
    font-weight: 500;
  }
  /*Out-team*/
  .container-team {
    max-width: 582px;
  }
  .dream {
    width: calc((100% - 54px) / 2);
  }
  .cool {
    flex-wrap: wrap;
    gap: 64px 24px;
  }
  /*Portfolio*/
  .kind {
    width: calc((100% - 24px) / 2);
    overflow: hidden;
  }
  /*Footer*/
  .footer {
    padding: 96px 108px;
  }
  .footer-flex-box {
    flex-direction: column;
  }
  .tablet-flex {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: baseline;
    margin-bottom: 72px;
  }
  .footer-margin {
    margin-right: 0;
  }

  .footer-social-media {
    margin-right: 0;
  }
}

@media (min-resolution: 192dpi) {
  .cont_a {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero_2x.jpg);
  }
}

@media screen and (min-width: 768px), (min-width: 1158px) {
  .mob-menu {
    display: none;
  }
}

.is-open {
  display: block;
}
